@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.font-hind-madurai {
  font-family: "Hind Madurai", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.single-card {
  transition: transform 0.3s ease;
}

.single-card:hover {
  transform: scale(1.05);
}

button,
.heart:hover {
  cursor: pointer;
}

.btn-copy:hover {
  background-color: black;
  color: white;
  transition: 0.9s;
}

.btn-call:hover,
.btn-clear:hover {
  background: linear-gradient(90deg, #86efac, #fbcfe8);
  color: #111;
  transition: 0.9s;
}
